<!DOCTYPE html>
<html>
    <head>
        <title>Student log in</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
                <form action="/student/login" method="POST">
                      <input type="text" placeholder="Enter Username" name="username" placeholder="Username" required>
                      <input type="password" placeholder="Enter Password" name="password" placeholder="Password" required>
                      <button type="submit">Login</button>
                      <input type="checkbox" checked="checked" name="remember"> Remember me  

                  <div class="container" style="background-color:#f1f1f1">
                    <span class="psw">Forgot <a href="#">password?</a></span>
                  </div>
                </form>
    </body>
</html>
